repos:
-   repo: https://github.com/ambv/black
    rev: 20.8b1
    hooks:
    - id: black
      language_version: python3.7
      additional_dependencies: ['click==8.0.4']

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.971
    hooks:
    -   id: mypy
        exclude: 'src/test/|src/lumigo_tracer/examples/|src/lumigo_tracer/test_module/|src/lumigo_tracer/libs/'
        entry: venv/bin/mypy
        args: ['--show-error-codes', '--check-untyped-defs', '--warn-redundant-casts', '--strict-equality', '--warn-unused-ignores', '--warn-return-any', '--disallow-untyped-defs', '--disallow-incomplete-defs', '--disallow-any-generics', '--ignore-missing-imports']

-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.1
    hooks:
    -   id: flake8
        args: ["--ignore","E501,W503","--exclude","src/lumigo_tracer/libs/*"]
        additional_dependencies: ['importlib-metadata==4.13.0']

-   repo: https://github.com/PyCQA/bandit
    rev: '1.7.0'
    hooks:
    -   id: bandit
        exclude: ^src/test/
        args: ["-lll"]
        additional_dependencies: ['importlib-metadata==4.13.0']

-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.2.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
