{
 "plugins": [
   "@semantic-release/commit-analyzer",
   "@semantic-release/release-notes-generator",
   "@semantic-release/github",
   ["@semantic-release/exec", {
     "prepareCmd" : ". venv/bin/activate && python set_version.py ${nextRelease.version} && git tag -d ${nextRelease.version}",
     "publishCmd" : ". venv/bin/activate && cd src && python ./../publish_package.py"
   }]
  ],
}
