version: 2.1
defaults: &defaults
  working_directory: ~/python_tracer
  docker:
  - image: lumigo/ci:latest
    auth:
      username: lumigo
      password: $DOCKERHUB_PASSWORD

orbs:
  lumigo-orb: &lumigo_orb_version lumigo/lumigo-orb@volatile


workflows:
  test-deploy:
    jobs:
    - lumigo-orb/print_orb_versions:
        lumigo_orb_version: *lumigo_orb_version

    - test:
        context: common
        filters:
          branches:
            ignore: master
    - lumigo-orb/is_environment_available:
        context: common
        filters:
          branches:
            ignore: master
    - lumigo-orb/be-deploy:
        context: common
        requires:
          - lumigo-orb/is_environment_available
    - lumigo-orb/integration-test-prep:
        context: common
        deploy_spec: python
        requires:
          - lumigo-orb/be-deploy
    - lumigo-orb/integration-test-limited-flows:
        context: common
        requires:
          - lumigo-orb/integration-test-prep
    - lumigo-orb/integration-test-parallel:
        context: common
        requires:
          - lumigo-orb/integration-test-limited-flows
    - lumigo-orb/e2e-test:
        context: common
        requires:
          - lumigo-orb/integration-test-parallel
    - lumigo-orb/workflow-completed-successfully:
        requires:
          - test
          - lumigo-orb/e2e-test

    - deploy:
        context:
          - common
          - twine
        filters:
          branches:
            only: master

jobs:
  test:
    <<: *defaults
    steps:
      - lumigo-orb/checkout_code
      - lumigo-orb/checkout_utils
      # run tests!
      - run: echo "export AWS_DEFAULT_REGION=us-west-2" >> $BASH_ENV
      - run: mkdir -p ~/.aws
      - run: echo ${KEY} | gpg --batch -d --passphrase-fd 0 ../common-resources/encrypted_files/credentials_integration.enc > ~/.aws/credentials
      - run: . venv/bin/activate && pip uninstall lumigo_tracer -y && python setup.py develop
      - run: . venv/bin/activate && ./scripts/checks.sh
      - run: ../utils/common_bash/defaults/code_cov.sh


  deploy:
    <<: *defaults
    steps:
      - lumigo-orb/checkout_code
      - lumigo-orb/checkout_utils
      - run: cd .. && git clone git@github.com:lumigo-io/larn.git
      - run: ./scripts/bd_to_prod.sh
